#addBtn {
  color: #2f4f4f;
  background-color: #5f9ea0;
  border: solid 1px #2f4f4f;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: scale(1.5, 1.5);
}

.bar-nav > .title {
  background-color: #5f9ea0;
  color: #2f4f4f;
}

.media-body {
  color: #2f4f4f;
}

.media-body > p {
  color: #5f9ea0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media-body > p:after {
  content: '...';
}

.table-view-cell > .icon {
  position: absolute;
  right: 5px;
  top: 5px;
  transform: scale(0.8, 0.8);
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.danger {
  color: #a94442;
  background-color: #f2dede;
  border: solid 1px #a94442;
}
