@import "variables.scss";

#logo {
  height: 34px;
  width: 34px;
  position: relative;
  z-index: 20;
  margin-top: 5px;
  margin-bottom: 5px;
}

#addEventModal .form {
  //margin: 10px;
}

/*#addBtn {
  color: $basic-color;
  background-color: $highlight-color;
  //border: solid 1px $basic-color;
  color: $highlight-color;
  background-color: $primary-color;
  border: solid 1px $highlight-color;
  border-radius: 100%;
  padding: 5px;
  margin:5px 0;
}*/

.bar .icon {
  color: $basic-color;
  background-color: $highlight-color;
  border-radius: 100%;
  padding: 5px;
  margin:5px 0;
}

.form-row input {
  float: left;
  width: 49%;
}
.form-row input:last-child {
  float: right;
}

/*
old add button in lower right corner

addBtn {
  color: $highlight-color;
  background-color: $primary-color;
  border: solid 1px $highlight-color;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transform: scale(1.8, 1.8);
  opacity: 0.8;
}*/

.bar-nav > .title {
  background-color: $primary-color;
  color: $highlight-color;
}

.media-body {
  color: $highlight-color;
}

.media-body > p {
  color:$primary-color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}

.media-body small {
  color: $ratchet-color;
}

.media-body > p:after {
  content: '...';
}

.table-view-cell > .icon {
  position: absolute;
  right: 5px;
  top: 5px;
  transform: scale(0.8, 0.8);
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.danger {
  color: $danger-color;
  background-color: $danger-background-color;
  border: solid 1px $danger-color;
}

//Image width in events
.img-list {
  width: 160px;
}
//whole image list in events
.img-list-right {
  padding-right: 15px;
}

.icon-img {
  width: 80px;
}

.event-date {
  text-align: center;
  h4{
    margin-bottom: 0;
  }
}